
<%= will_paginate @users %> 
<table class="pretty"> 
	<thead>
		 <tr>  
				<th class="users_sort"><%= sortable "login" %></th>  
				<th class="users_sort"><%= sortable "birthday" %></th>  
				<th class="users_sort"><%= sortable "age" %></th> 
			  <th><%= "link" %></th>  
		 </tr>
	</thead>
	<tbody>
		 <% for user in @users %>  
		 <tr>  
		   <td><%= user.login %></td>  
		   <td><%= user.birthday.strftime("%B %e, %Y") %></td>  
			 <td><%= user.age %></td>  
			 <td><%= link_to "detail", user%></td>
		 </tr>  
		 <% end %> 
	</tbody>
</table>
<%= will_paginate @users%>