<h1>Sign up</h1>

 <%= simple_form_for @user do |f| %>  
   <%= f.input :login %>  
   <%= f.input :email %>  
   <%= f.input :birthday, :as => :text_field %>  
   <%= f.input :password %>  
   <%= f.input :password_confirmation %>  
   <%= f.button :submit %>  
 <% end %> 